.budget {
}

.budget .desc {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.budget .desc .title span {
    color: darkblue;
}

.budget .budget-form {
    display: flex;
    align-items: center;
}
